:root {
  --primary-color: #f472b6;
}
* {
  background-color: #e5e7eb;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 1.5rem;
}
input {
  margin: 1rem 32vw;
  width: 15vw;
  height: 8vh;
  font-size: 1.8rem;
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  border: 2px solid var(--primary-color);
}
.check_button {
  border: 2px solid var(--primary-color);
  font-size: 1.5rem;
  margin: 1rem auto;
  width: 10vw;
  height: 5vh;
}
.check_button:hover {
  background-color: #df93ba;
}
.container {
  border: 4px solid var(--primary-color);
  max-width: 80%;
  margin: 15vh auto;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
}
li {
  display: inline;
  margin: 1rem;
}
a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--primary-color);
}
a:hover {
  text-decoration: underline;
  font-size: 2.5rem;
}
footer {
  text-align: center;
}
.output {
  background-color: var(--primary-color);
  height: 13vh;
  width: 80%;
  text-align: center;
  margin: 2rem auto;
  border-radius: 1rem;
  font-size: 2rem;
}
